services:
    postgres:
      image: pgvector/pgvector:pg16
      environment:
        POSTGRES_DB: monorepo-uv
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      ports:
        - "5432:5432"

    redis:
      image: redis:7-alpine
      ports:
        - "6379:6379"
volumes:
  postgres_data: